version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    commit-message:
      prefix: "chore: "
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
  # Maintain dependencies for Python
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    commit-message:
      prefix: "chore: "
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    commit-message:
      prefix: "chore: "
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
