version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    target-branch: "main"
    commit-message:
      prefix: "chore: "
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      all-actions:
        patterns:
          - "*"
  # Maintain dependencies for Python
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 4
      default-days: 7
    target-branch: "main"
    commit-message:
      prefix: "chore: "
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
      - "python"
    groups:
      all-python:
        patterns:
          - "*"
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    target-branch: "main"
    commit-message:
      prefix: "chore: "
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
      - "docker"
    groups:
      all-docker:
        patterns:
          - "*"
